<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Guna_UI.Properties.Settings.InterrogationConnectionString"
            connectionString="Data Source=ADMINPC\SQLEXPRESS;Initial Catalog=Interrogation;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="localhost_Interrogation_Connection" connectionString="XpoProvider=MSSqlServer;data source=ADMINPC\SQLEXPRESS;user id=;password=;initial catalog=Interrogation;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>